*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(25, 13, 13);
  color: white;
}

#title{
  text-align: center;
  font-size:46px;
  padding: 10px;
}

#title-info{
  text-align: center;
  font-size:18px;
  padding-bottom: 30px;
}

img{
  height: auto;
  display: block;
  margin: 0 auto;
}

#image{
  max-width: 100%;  
}

#img-caption{
  text-align: center;
  padding-bottom: 30px;
}

#timeline{
  background-color: rgb(222, 211, 211);
  margin: 10px;
  color: black;
  font-size: 18px;
  text-align: left;
  padding: 0 70px;
}

#bold{
  font-weight: bold;
}

#footer{
  text-align: center;
  font-size:18px;
  padding: 20px 0;
}
